@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

.circularprogress body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.circularprogress
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.circularprogress .card 
{
    position: relative;
    width: 220px;
    height: 250px;
    background: rgba(255, 255, 255, 0.0);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
}

.circularprogress .card .percent 
{
    position: relative;
    width: 150px;
    height: 150px;
}

.circularprogress .card .percent svg 
{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.circularprogress .card .percent svg circle 
{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: rgba(128, 128, 128, 0.5);
    transform: translate(5px,5px);   
}

.circularprogress .card .percent svg circle:nth-child(2)
{
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}

@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.circularprogress .dot 
{
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--num)));
    /* 360deg / 100 = 3.6deg */
    animation: animateDot 2s linear forwards;
}

@keyframes animateDot
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

.dot::before 
{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
}

.circularprogress .card .percent .number {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;}

.circularprogress .card .percent .number h2 
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    font-weight: 700;
    font-size: 2.5em;
}

.circularprogress .card .percent .number h2 span
{
    font-weight: 300;
    color: #222;
    font-size: 0.5em;
}


.circularprogress .card .percent .number p
{
    font-weight: 300;
    font-size: 0.75em;
    letter-spacing: 2;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.75);
}

@media (prefers-color-scheme: dark) {
    .circularprogress .card {
        background: rgba(0, 0, 0, 0.0);
    }
    .circularprogress .card .percent svg circle {
        stroke: rgba(255, 255, 255, 0.3);
    }
    .circularprogress .card .percent .number h2 {
        color: #fff
    }
    .circularprogress .card .percent .number h2 span {
        color: #fff
    }
    .circularprogress .card .percent .number p {
        color: rgba(255, 255, 255, 0.75)
    }
}